body {
	font-family: arial;
	margin: 0;
	padding: 0 5% 50px 5%;
	background: #f0f0f0;
	position: relative;
	--brand-color: #00d492;
	--light-main: #ffffff;
	--dark-main: #252525;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

header .logo {
	font-size: 2rem;
}

.app {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.taskSummary {
	background: white;
	padding: 20px;
	border-radius: 15px;
	display: flex;
}

.workspaceImage {
	width: 50px;
	height: 50px;
	min-width: 50px;
	border-radius: 100%;
	border: 2px solid #e7e7e7;
}

.summaryContent {
	width: 100%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.taskSummary .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.taskSummary h3 {
	font-weight: 500;
	margin: 0;
}

.taskSummary p {
	font-weight: 600;
	margin: 0;
}

.summaryBar {
	height: 10px;
	width: 100%;
	background: var(--brand-color);
	margin-top: 10px;
	border-radius: 10px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container::-webkit-scrollbar {
	display: none;
}

.workspaceHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.workspaceHeader button {
	display: flex;
	column-gap: 10px;
	align-items: center;
	padding: 7.5px 15px;
	border-radius: 50px;
	border: 1px solid #00bf84;
	background: var(--brand-color);
	color: white;
	font-weight: 600;
	cursor: pointer;
}

.workspaceTitle {
	margin: 0;
}

.catContainer {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
	overflow: scroll;
}

.catButton {
	padding: 10px 25px;
	color: black;
	background: var(--light-main);
	border-radius: 20px;
	border: none;
	transition: 250ms ease-in-out;
	cursor: pointer;
}

.catActive {
	color: white;
	background: var(--dark-main);
	transition: 250ms ease-in-out;
}

.taskContainer {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.task {
	padding: 20px;
	background: white;
	border-radius: 15px;
}

.task p {
	font-size: 1.1rem;
	font-weight: 500;
	margin: 0;
}

.taskFooter {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.taskFooter span {
	font-size: 0.7rem;
	padding: 5px 15px;
	border-radius: 50px;
}

.taskbadges {
	display: flex;
	flex-direction: row;
	column-gap: 10px;
}

.taskbadges span {
	height: 12.5px;
	line-height: 12.5px;
}

.taskCategory {
	background: #e7e7e7;
}

.priorityHigh {
	background: #ff6467 !important;
	color: white;
}

.priorityMedium {
	background: #fd9a00 !important;
	color: white;
}

.priorityLow {
	background: var(--brand-color) !important;
	color: white;
}

footer {
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
	background: #252525;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 0;
}

footer a {
	color: var(--brand-color);
}

.sideMenuOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: black;
	opacity: 0%;
	pointer-events: none;
	transition: 250ms ease-in-out;
}

.showOverlay {
	pointer-events: all;
	opacity: 80%;
	transition: 250ms ease-in-out;
}

.menuContent {
	display: block;
	z-index: 999;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: #f7f7f7;
	width: 60%;
	padding: 50px 30px;
	transform: translateX(100%);
	transition: 250ms ease-in-out;
}

.showMenu {
	transform: translateX(0%);
	transition: 250ms ease-in-out;
}

.menuContent .logo {
	font-size: 2rem;
	padding-bottom: 20px;
	border-bottom: 1px solid #d7d7d7;
}

.menuContent ul {
	font-size: 1rem;
	margin: 25px 0 0 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.menuContent ul li {
	background: white;
	padding: 10px 15px;
	border-radius: 7.5px;
	vertical-align: center;
	position: relative;
	overflow: hidden;
	font-size: 0.8rem;
}

.menuItem {
	min-height: 40px;
	line-height: 40px;
}

.menuContent .activeWS {
	width: 5px;
	height: 100%;
	background: var(--brand-color);
	position: absolute;
	left: 0;
	top: 0;
}

.addNewWorkspace {
	background: none !important;
	border: 1px dashed #454545 !important;
	text-align: center;
	color: #454545;
	padding: 0 !important;
}

.addNewWorkspaceBtn {
	background: none;
	border: none;
	padding: 12.5px 15px;
	width: 100%;
}

.submitDiv {
	background: none !important;
	padding: 0 !important;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	width: 100%;
}

.submitDiv input {
	padding: 10px;
	background: none;
	border: none;
	border-bottom: 1px solid #d7d7d7;
	font-size: 1rem;
}

.submitDiv input:focus {
	appearance: none !important;
}

.submitDiv button {
	background: var(--brand-color);
	color: white;
	font-size: 1rem;
	font-weight: 600;
	padding: 10px;
	border-radius: 7.5px;
	border: none;
	cursor: pointer;
}

.errorMessage {
	text-align: center;
}

.hide {
	display: none !important;
}

.newTaskPopup {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.popupOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.85;
	z-index: 1;
	pointer-events: none;
}

.popup {
	background: #f7f7f7;
	width: 90%;
	max-width: 678px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	z-index: 2;
	pointer-events: all;
}

.popup h3 {
	font-size: 1.4rem;
	text-align: center;
}

.popup form {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.formContainer {
	display: flex;
	flex-direction: column;
}

.formTitle {
	font-size: 1rem;
	font-weight: 500;
	color: #555555;
	margin: 0 0 5px 0;
	display: flex;
	align-items: center;
	column-gap: 6px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formTitle button {
	background: none;
	border: none;
	padding: 0;
}

#taskName {
	font-size: 1.3rem;
	color: black;
	background: none;
	border: none;
	padding: 0;
	outline: none;
}

#taskDescription {
	background: #e4e6e9;
	padding: 10px;
	border-radius: 5px;
	border: none;
	min-height: 80px;
	outline: none;
}

#taskCategory,
#taskPriority,
#taskDueDate {
	appearance: none;
	padding: 10px;
	border: none;
}

.optionalFields {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 5px;
}

.optionalFields span {
	font-size: 0.8rem !important;
	color: gray;
	background: white;
	padding: 5px 12.5px;
	border: 1px solid #d7d7d7;
	border-radius: 50px;
}
